<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Document</title>
</head>
<body>
Sala de chats </br>
<form action="/join" method="POST" enctype="application/json">
	<select name="chatroom">
		<option name="sports" value="sports">Deportes</option>
		<option name="varietes" value="varietes">Variedades</option>
		<option name="geographic" value="geographic">Geografia</option>
		<option name="bla" value="bla">bla</option>
	</select>
	<div>
		<input type="submit" value="Join" style="width:100px">
	</div>
</form>
</body>
</html>